<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VSCPU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D17B02C81BFC080E0008A419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D17B02DF1BFC080E0008A419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D17B02EA1BFC080E0008A419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
